body {
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pull-right {
    float: right;
}

.cursor-pointer {
    cursor: pointer;
}

.main-video {
    display: flex;
    position: relative;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}