body {
    font-family: 'Roboto', sans-serif;
    background: rgba(255,255,255,.1);
}

video {
    border: none;
    outline: none;
}
.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.y-center{
    vertical-align: middle;
}

.wrap{
    flex-wrap: wrap;
}

.pull-right {
    float: right;
}

.pointer {
    cursor: pointer;
}

.main-video,.poster {
    display: flex;
    position: relative;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-vid-title {
    font-size: 1.2rem;
    font-weight: 600;
}
.main-vid-des{
    font-size: 1rem;
}

.carousel-container {
    position: relative;
}

.Poster-container{
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
}

.theme-container{
    display: flex;
    justify-content: flex-end;
    transition: all 2s ;
}

.round{
    border-radius: 50rem!important;
}


img:hover{
    opacity: .9;
}

.carousel-ctrls .left,
.carousel-ctrls .right {
    position: absolute;
}

.carousel-ctrls .left {
    top: 22%;
    left: -1.5%;
    transform: translate(-1.5%, -22%);
}

.carousel-ctrls .right {
    top: 22%;
    right: -1.5%;
    transform: translate(-1.5%, -22%);
}

.videos::-webkit-scrollbar {
    display: none;
}

video[poster] {
    object-fit: cover;
}

video[poster]:hover {
    opacity: 0.9;
}

@media (max-width:568px) {
    img {
        width: 180px;
        height: 100px;
    }
    .carousel-ctrls .left {
        top: 14%;
        left: -3%;
        transform: translate(-3%, -22%);
    }

    .carousel-ctrls .right {
        top: 14%;
        right: -3%;
        transform: translate(-3%, -22%);
    }
}

@media (max-width:768px) {
    .theme-container {
        justify-content: center;
    }
}

input[type="submit"]{
    background: orangered;
}

/* input:focus .form-group small {
    content: "test";
} */

form{
    box-shadow: -1px 1px 4px 1px rgba(0,0,0,.2);
    position: relative;
}

form::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 50%;
    background: rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .2);
    transform: translateX(3px) skew(-3deg, 0deg);
    z-index: -1;
}